<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- Scans the classpath of this application for @Components to deploy as beans -->
	<!-- <context:component-scan base-package="org.lzy" /> -->

	<bean id="solrServerFactory" class="com.lzy.block.search.solr.spring.SolrServerFactoryBean" />
	
	<bean id="newHouseSearcher" class="com.lzy.block.search.solr.searcher.NewHouseSearcher">
		<property name="solrServerFactory" ref="solrServerFactory" />
	 	<property name="solrNames">
			<map key-type="java.lang.String">
				<!-- shenzhen_newhouse -->
				<entry key="SHENZHEN" value="shenzhen_newhouse"/>
				<entry key="ZH" value="shenzhen_newhouse"/>
				<!-- beijing_newhouse -->
				<entry key="BEIJING" value="beijing_newhouse"/>
				<entry key="ZHENGZHOU" value="beijing_newhouse"/>
				<!-- shanghai_newhouse -->
				<entry key="HK" value="shanghai_newhouse"/>
				<entry key="SHANGHAI" value="shanghai_newhouse"/>
				<entry key="WUHAN" value="shanghai_newhouse"/>
				<entry key="CHENGDU" value="shanghai_newhouse"/>
				<entry key="GUANGZHOU" value="shanghai_newhouse"/>
				<entry key="CHONGQING" value="shanghai_newhouse"/>
				<entry key="HANGZHOU" value="shanghai_newhouse"/>
				<entry key="SUZHOU" value="shanghai_newhouse"/>
				<entry key="NANJING" value="shanghai_newhouse"/>
			</map>
		</property>
		<property name="zkHostS">
			<map key-type="java.lang.String">
				<entry key="SHANGHAI" value="192.168.0.43:2181,192.168.0.241:2181/web"/>
				<entry key="BEIJING" value="192.168.0.43:2181,192.168.0.241:2181/web"/>
				<entry key="SHENZHEN" value="192.168.0.43:2181,192.168.0.241:2181/web"/>
			</map>
		</property>
		<property name="defaultZkHost" value="192.168.0.43:2181,192.168.0.241:2181/web"/>
		<property name="defaultSolrName" value="shenzhen_newhouse"/>
		<property name="zkClientTimeout" value="30000"/>
		<property name="zkConnectTimeout" value="30000"/>
	</bean>
	 
</beans>
